*.iml
.idea
.DS_Store
.classpath
.settings/
.project
*.prefs
.*.swp
target/
phantomjsdriver.log
.cache
.tmpBin
dependency-reduced-pom.xml
*.orig
*.mwb.bak
dump.rdb
pom.xml.versionsBackup
build.gradle~
.gradle
.gradletasknamecache
/ameliav3/build
sencha-error-*.log
**/intapps
**/deployedbundles
gradlew
gradlew.bat
gradle
